<div class="box col-10 offset-1">
  <h1>Edit Your Movie</h1>
  <%= simple_form_for @movie do |f| %>
    <%= f.input :title %>
    <%= f.input :summary %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>