<body>
  <main>
    <% @movies.each do |movie| %>
      <div class="container-fluid">
        <div class="row">
          <div class="col"></div>
          <div class="col-12 col-lg-6">
            <div class="card"">
              <div class="card-header">
                <h3 class="card-title heading-tertiary"><%= link_to movie.title, movie_path(movie) %></h3>
              </div>
              <div class="card-body">
                <hr />
                <div class="col-12 col-sm-6">
                  <div class="float-left"><%= image_tag movie.poster %></div>
                </div>
                <div class="col-12 col-sm-6 float-left"><h4 class="heading-quaternary">Synopsis: </br></h4><p class="synopsis"><%= movie.summary %></div></p>
                <div class="col-12 col-sm-6 float-left"><h4 class="heading-quaternary">Average Score</h4></div>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    <% end %>
  </main>
</body>

<footer>
  <div>
    <div class="row">
      <div class="paginate col-10 offset-1"">
        <%= paginate @movies %>
      </div>
      <br /><br />
      <div class="col-10 offset-1">
        Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
    </div>
  </div>
</footer>