<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="box col-12 col-lg-6">
      <h2 class="heading-secondary">Add a movie</h2>

      <%= simple_form_for @movie do |f| %>
        <%= f.input :title %>
        <%= f.input :summary %>
        <br />
        <%= f.submit "Post!", class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col"></div>
  </div>
</div>