<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-lg-6">
      <div class="card"">
        <div class="card-header">
          <h3 class="card-title heading-tertiary"><%= link_to @movie.title, movie_path(@movie) %></h3>
        </div>
        <div class="card-body">
          <hr />
          <div class="row">
            <div class="col-12 col-sm-6 text-center">
              <div><%= image_tag @movie.poster %></div>
            </div>
            <div class="col-12 col-sm-6 float-left">
              <h4 class="heading-quaternary">Synopsis </br></h4>
              <p class="synopsis"><%= @movie.summary %></p>

              <h4 class="heading-quaternary">Add your rating</h4>

              <div id="rating" data-post-url=<%= "#{movie_reviews_path(@movie)}" %>>
                <span data-rating="1" class="grey">1</span>
                <span data-rating="2" class="grey">2</span>
                <span data-rating="3" class="grey">3</span>
                <span data-rating="4" class="grey">4</span>
                <span data-rating="5" class="grey">5</span>
              </div>

              <div id="hidden-cache"></div>

              <form id="ajax-comment" method="post">
                <div class="form-group">
                  <textarea class="form-control" id="review-comment" data-comment="" placeholder="Add a review" rows="3"></textarea>
                </div>
                <div class="float-left">
                  <!-- Button trigger modal -->
                  <button type="button" id="review-submit" class="btn btn-lg btn-primary float-left" data-toggle="modal" data-target="#reviewButton">
                    Add review
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>